.full-width {
  width: 80%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card {
  max-width: 600px;
  /*max-width: 33.3%;*/
  margin: 20px;
  /*margin: 6em auto;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 250px;
  height: 102px;
}

.h1 {
  padding: 20px;
  position: center;
  top: 17%;
  /* text-align: center; */
}

.mat-icon-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.mat-error {
  color: red;
}
.mat-toolbar-row {
  justify-content: space-between;
  /* margin: 30px; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 270px;
}

::ng-deep .mat-card-title {
  text-align: center;
  margin: 0px;
}

mat-toolbar {
  width: 100%;
  height: 150px;
  background-color: #01426A;
  color: #78AA00;
  /* display: center; */
  /* text-align: center; */
}

.wider {
  width: 50%;
}

.wide {
  width: 30%;
}

mat-datepicker {
  position: left;
}