<mat-toolbar>
    <a href="http://www.raleighnc.gov/">
      <img alt="City of Raleigh Logo" class="logo" src="./assets/Raleigh-Logo-Horiz-white.png">
    </a>
    <!-- <span class="mat-toolbar-row">Parks Event Logistics Request</span> -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item >  -->
        <!-- (click)="openDialog('help')" -->
       <mat-icon>help</mat-icon>
      <span>Need Help?</span>
    </button>
  </mat-menu>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Parks Event Logistics Request</mat-card-title>
    </mat-card-header>
    <mat-card-content class="shipping-card">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Event date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company Name" formControlName="company">
          </mat-form-field>
        </div>
      </div>  -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Event Name" formControlName="eventName">
            <mat-error *ngIf="addressForm.controls['eventName'].hasError('required')">
              Event name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone #" formControlName="phone">
            <mat-error *ngIf="addressForm.controls['phone'].hasError">
              Phone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="u_street_address"></textarea>
            <mat-error *ngIf="addressForm.controls['u_street_address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address 2" formControlName="u_address_line_2"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="u_city">
            <mat-error *ngIf="addressForm.controls['u_city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="u_state">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['u_state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #u_zip maxlength="5" placeholder="Postal Code" type="number" formControlName="u_zip">
            <mat-hint align="end">{{u_zip.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <mat-form-field class="wider">
            <input matInput placeholder="Event Duration" formControlName="duration">
            <!-- <mat-error *ngIf="addressForm.controls['duration'].hasError">
              Phone number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="wide">
            <input matInput placeholder="Number of attendees" formControlName="attendees">
            <!-- <mat-error *ngIf="addressForm.controls['duration'].hasError">
              Phone number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput type="text" maxlength="499" formControlName="description"
              placeholder="Event Description"></textarea>
            <mat-error *ngIf="addressForm.controls['description'].hasError('maxlength')">
              Maximum length is 500 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addressForm.valid || results">Submit</button>
    </mat-card-actions>

    <mat-progress-bar *ngIf="submitted && !error" class="app-progress" mode="indeterminate"
      aria-label="Indeterminate progress-bar example">
    </mat-progress-bar>
    <mat-error *ngIf="error">
        There was a problem communicating to the backend server. We are working on correcting the issue. Please try
        your request again later.
      </mat-error>
      <span *ngIf="results">Your request was submitted successfully. Your request ID is {{this.results.result.sys_id}}.</span>

  </mat-card>
</form>