<!-- <mat-toolbar>
    <a href="http://www.raleighnc.gov/">
      <img alt="City of Raleigh Logo" class="logo" src="./assets/Raleigh-Logo-Horiz-white.png">
    </a>
    <span class="mat-toolbar-row">Public Records Request</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item >  -->
        <!-- (click)="openDialog('help')" -->
      <!-- <mat-icon>help</mat-icon>
      <span>Need Help?</span>
    </button>
  </mat-menu> -->
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Enter your information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="shipping-card">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="u_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company Name" formControlName="u_company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="u_email">
            <mat-error *ngIf="addressForm.controls['u_email'].hasError">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone" formControlName="u_phone">
            <mat-error *ngIf="addressForm.controls['u_phone'].hasError">
              Phone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="u_name">
            <mat-error *ngIf="addressForm.controls['u_name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="u_street_address"></textarea>
            <mat-error *ngIf="addressForm.controls['u_street_address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address 2" formControlName="u_address_line_2"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="u_city">
            <mat-error *ngIf="addressForm.controls['u_city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="u_state">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['u_state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #u_zip maxlength="5" placeholder="Postal Code" type="number" formControlName="u_zip">
            <mat-hint align="end">{{u_zip.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput type="text" maxlength="799" formControlName="u_description"
              placeholder="Description"></textarea>
            <mat-error *ngIf="addressForm.controls['u_description'].hasError('maxlength')">
              Maximum length is 800 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addressForm.valid || results">Submit</button>
    </mat-card-actions>

    <mat-progress-bar *ngIf="submitted && !error" class="app-progress" mode="indeterminate"
      aria-label="Indeterminate progress-bar example">
    </mat-progress-bar>
    <mat-error *ngIf="error">
        There was a problem communicating to the backend server. We are working on correcting the issue. Please try
        your request again later.
      </mat-error>
      <span *ngIf="results">Your request was submitted successfully. Your request ID is {{this.results.result.sys_id}}.</span>

  </mat-card>
</form>